PGLOGIN=admin
PGPASSWORD=admin

verTUI=1.92.4
verTAPI=1.109.0

verEUI=1.60.0
verEAPI=1.58.3

#External url for submission api is https://api.trefx.ukserp.ac.uk
submissionurl=http://192.168.70.130:5034
#This is the 9000 url
submissionMinioUrl=http://192.168.70.130:9000
#This is the 9001 url
submissionMinioAdminConsole=http://192.168.70.130:9001

syncSchedule=10
scanSchedule=1
EnableExternalHangfire=false

HutchMinioURLOverride=
useproxy=true
proxyurl=http://192.168.10.15:8080

TreName=SAIL
IgnoreHutchSSL=true
TreKeyCloakBaseRealmAddress=https://auth2.ukserp.ac.uk/realms/
TreKeyCloakClientId=Dare-TRE-UI
TreKeyCloakRealm=Dare-TRE

TreValidAudiences=Dare-TRE-API,Dare-TRE-UI
EgressKeyCloakClientId=Data-Egress-API
EgressKeyCloakRealm=Data-Egress
EgressKeyCloakBaseRealmAddress=https://auth2.ukserp.ac.uk/realms/
EgressValidAudiences=Data-Egress-UI,Data-Egress-API
SubmissionKeyCloakBaseRealmAddress=https://auth2.ukserp.ac.uk/realms/
SubmissionKeyCloakClientId=Dare-Control-API
SubmissionKeyCloakRealm=Dare-Control
#If having issues with keycloak set this to false.
sslcookies=false
#If http only site set this to false
httpsRedirect=false
SubmissionValidAudiences=Dare-Control-UI,Dare-Control-API,Dare-Control-Minio
TreMinioKeyCloakSecret=dZx08fCXVjonxBqg54CFvFv9MteoaqAT
TreMinioKeyCloakClientId=Dare-TRE-Minio
TreMinioAdminUser=minio
TreMinioAdminPassword=minio123
SubmissionMinioAdminUser=minio
SubmissionMinioAdminPassword=minio123
KeyCloakUseRedirect=false
TreKeyCloakClientUIRediretURL=https://cardiff.trefx.ukserp.ac.uk/
TreKeyCloakTokenExpredAddressUI=https://cardiff.trefx.ukserp.ac.uk/Account/LoginAfterTokenExpired
EgressKeyCloakClientUIRediretURL=https://egress.cardiff.trefx.ukserp.ac.uk/
EgressKeyCloakTokenExpredAddressUI=https://egress.cardiff.trefx.ukserp.ac.uk/Account/LoginAfterTokenExpired
SubKeyCloakTokenExpredAddressUI=https://submission.trefx.ukserp.ac.uk/Account/LoginAfterTokenExpired
SubKeyCloakClientUIRediretURL=https://submission.trefx.ukserp.ac.uk/
UseTESK=true
UseHutch=false
UseRabbit=false
proxybypass=false
HutchAPIAddress=https://localhost:7239
HutchDbServer=theserver
HutchDbName=theDb
HutchDbPort=24
HasuraURL=http://hasura-engine:8080

HasuraPass=ohCOOl

PostgreSQLQueryDbPass=password123
PostgreSQLQueryDbUser=postgres
PostgreSQLQueryDbName=myCoolDataDB

HasuraPostgreMetadataPass=password123
HasuraPostgreMetadataUser=postgres
HasuraPostgreMetadataName=DARE-Control

# API TreKeyCloakSecret=VXiSfXMbuZiExijBqemzNu7YNYI5VuoA

TreKeyCloakSecret=5da4W2dwgRfYb3Jfp9if7KSPQLiMZ93I
EgressKeyCloakSecret=Gci9NkcscL4RbhDlHfAL39iwNWlFefTl
SubmissionKeyCloakSecret=krDQH6jFM1piGvTRnzCC2UGFUZuTZDkJ

AccountManagementURLUI=https://auth2.ukserp.ac.uk/realms/Dare-TRE/account
#TASK 
#it's the IP for Hasura From the point of view of TASK
HasuraIP=http://192.168.70.131:8080
